{% extends "LaLearnodexBundle::Admin/Admin.html.twig" %}

{% block card_content %}
    {% if cardOutcomes is empty %}
        <p class="lead">This card has no outcomes</p>
    {% else %}
        <p class="lead">Define the outcomes of this card</p>

        {% for cardOutcome in cardOutcomes %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 text-right">
                            {{ include(cardOutcome.getOutcome().accept(getIncludeTwigVisitor), { 'cardOutcome': cardOutcome}) }}
                        </div>

                        <div class="col-xs-8 col-sm-8">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 text-right">
                                    <h4>Affinity</h4>
                                </div>
                                <div class="col-xs-9 col-sm-9">
                                    {{ include('LaLearnodexBundle:Admin:Result/Include/AffinityResult.html.twig', { 'cardOutcome': cardOutcome }) }}
                                </div>
                            </div>
                            {% if cardOutcome.getOutcome().getProgress is not null %}
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 text-right">
                                    <h4>Progress</h4>
                                </div>
                                <div class="col-xs-9 col-sm-9">
                                    {{ include('LaLearnodexBundle:Admin:Result/Include/ProgressResult.html.twig', { 'cardOutcome': cardOutcome }) }}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if card.isActionCard() %}
        <p class="lead">
            <input type="checkbox" id="enable_progress" /> Enable Progress for this card
        </p>
        <p>(todo: panel below should be invisible until checkbox above is checked</p>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Click the correct answer. When a learner selects that answer he will get 100% progress for this action</p>
                {% for answer in card.getContent().getAnswers() %}
                    {% for outcome in answer.getOutcomes() %}
                        <a href="{{ path('set_outcome_progress',{'outcomeId':outcome.getId(),'progress':100}) }}" class="list-group-item">{{ answer.getAnswer() }}</a>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}
