<div class="row">
    {% set referenceOutcome = cardOutcome.getReferenceOutcome() %}
    <div class="col-xs-12 col-sm-4 text-right">
        <p>When answer "<b>{{ referenceOutcome.answer.answer }}</b>" is <b>{{ referenceOutcome.selected == 0 ? 'Not' }} selected</b></p>
    </div>

    {% set numberOfStars = cardOutcome.getNumberOfStars() %}
    {% set outcomeId = cardOutcome.getOutcome().id %}
    <div class="col-xs-12 col-sm-8 rating">
        <form>
            <input id="outcome-{{ outcomeId }}" class="rating" type="number" data-step="1" value="{{ numberOfStars }}" data-size="xs" data-show-caption="true">
        </form>
    </div>
</div>

<script type="text/javascript">
    $('#outcome-{{ outcomeId }}').on('rating.change', function(event, value) {
        switch(parseInt(value)) {
            {% for i in 0..5 %}
            case {{ i }}:
                var url = "{{ path('set_outcome', {'id':card.getId(),'answer':referenceOutcome.getAnswer().getId(), 'selected':referenceOutcome.getSelected(), 'affinity':cardOutcome.getValueForStars(i)}) }}";
                window.location.href = url.replace(/&amp;/g, "&");
                break;
            {% endfor %}
        }
    });
</script>
