{% extends "LaLearnodexBundle::card.html.twig" %}

{% block card_body_placeholder_class 'col-xs-12' %}
{% block card_toolbar_placeholder_class 'hidden' %}

{% block card_header %}
    <div class="text-center">
    <h1>This is how you compare with {{ persona.getUser().getUserName() }}</h1>
    </div>
{% endblock %}

{% block card_body %}
    <div class="row">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-8 col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Agora</th>
                        <th>your affinity</th>
                        <th>{{ persona.getUser().getUserName() }}'s affinity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for affinityRecord in affinityArray %}
                    <tr>
                        <td>{{ affinityRecord['agora_name'] }}</td>
                        <td>{{ affinityRecord['user_affinity']|default("0")|number_format(0) }}%</td>
                        <td>{{ affinityRecord['persona_affinity']|number_format(0) }}%</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xs-2 col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-8 col-md-8 text-center">
            <a href="{{ path('goal_create_persona', {id: persona.getId()}) }}" class="btn btn-success">
                Accept this goal
            </a>
        </div>
        <div class="col-xs-2 col-md-2"></div>
    </div>
{% endblock %}

