<div class="row">
    <div class="ln-register center-block">
        {{ form_start(form) }}
        {{ form_errors(form) }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="http://sharpskill.io/images/logo.9691e1f9.png" alt="SharpSkill">
                        <h3>Register with SharpSkill</h3>
                    </div>
                    <hr/>

                    <div class="form-group">
                        {{ form_label(form.username, 'Your name') }}
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Tell us your name'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.email, 'Your email address') }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Tell us your e-mail address'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.plainPassword.first, 'Choose your password') }}
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Desired password'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.plainPassword.second, 'Type your password again') }}
                        {{ form_errors(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Desired password (again)'}}) }}
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="row">
                        <div class="col-sm-5">
                            <a class="btn btn-link btn-block" href="http://{{ frontend_url }}">Use an existing account</a>
                        </div>
                        <div class="col-sm-2 text-center">
                            <p class="no-margin" style="padding:6px"><i>or</i></p>
                        </div>
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-primary btn-block">Register me</button>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>
