{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        <img class="img-responsive center-block" src="{{ asset('bundles/lalearnodex/images/logo.png', absolute=true) }}"/>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.username, 'Your name') }}
                {{ form_errors(form.username) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Enter your name here'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.email, 'Your email address') }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter a valid e-mail address'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.first, 'Choose your password') }}
                {{ form_errors(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Choose your password'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.second, 'Type your password again') }}
                {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Type your password again'}}) }}
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <input type="submit" value="Create account" class="btn btn-success btn-block" />
                </div>
                <div class="col-xs-6">
                    <a role="button" class="btn btn-default btn-block" href="{{ path('fos_user_security_login') }}">Cancel</a>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock fos_user_content %}
