{% extends "LaLearnodexBundle::layout.html.twig" %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/lalearnodex/js/star-rating.min.js', absolute=true) }}"></script>

    <link href="{{ asset('bundles/lalearnodex/css/star-rating.min.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/lalearnodex/css/card.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block html_tag 'ng-app="card"' %}
{% block body_tags 'role="document"  ng-controller="CardController as card"' %}
{% block Main %}
<div class="panel ln-card">
    <div class="panel-heading">

    </div>

    <div class="panel-body ln-card-body">
        <div class="row">
            <table>
                {% for user in users %}
                    <tr>
                        <td>{{ user.getUserName() }}</td>
                        <td>
                            {% if user.hasRole('ROLE_ADMIN') %}
                                ADMIN
                            {% else %}
                                {% if user.hasRole('ROLE_SUPER_ADMIN') %}
                                    SUPER_ADMIN
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if user.hasRole('ROLE_SUPER_ADMIN') %}
                                <a class="btn btn-block" href="{{ path('manage_user_roles') }}">No action</a>
                            {% else %}
                                {% if user.hasRole('ROLE_ADMIN') %}
                                    <a class="btn btn-danger" href="{{ path('make_user',{'id':user.getId()}) }}">Remove Admin Rights</a>
                                {% else %}
                                    <a class="btn btn-success" href="{{ path('make_admin',{'id':user.getId()}) }}">Give Admin Rights</a>
                                {% endif %}
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
