<ul class="list-group ln-simple-url-content">
    <li class="list-group-item">
        <h4><small>{{ card.getContent().instruction }}</small></h4>
    </li>
    <a class="list-group-item list-group-item-info" onclick="window.location.href='{{ path('url_trace',{'id':card.id}) }}'" href="{{ card.getContent().url }}" target="_new" >
        <span class="glyphicon glyphicon-globe"></span> {{ card.getContent().url }}
    </a>

    <li class="list-group-item">
        <p class="lead"><br>{{ card.getContent().question }}</p>

        {% for answer in card.getContent().getAnswers() %}
            {% set outcomeId = answer.getOutcomes()[0].getId() %}
            <div class="checkbox">
                <a href="{{ path('make_trace', {'outcomeId': outcomeId}) }}" class="list-group-item">
                    {{ answer.answer }}
                </a>
            </div>
        {% endfor %}
    </li>
</ul>

<div class="modal fade" id="ln-url-display-modal" tabindex="-1" role="dialog" aria-labelledby="ln-url-display-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{ card.getContent().url }}</h4>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="100%" frameborder="0" scrolling="yes" allowtransparency="true" src="{{ card.getContent().url }}"></iframe>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.ln-simple-url-content').closest('.well').css('padding', '0px');
</script>
