{% extends "LaLearnodexBundle::Admin/Admin.html.twig" %}

{% block card_content %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'question-form'}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.duration, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
        <div class="col-xs-10">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-time"></span></div>
                {{ form_widget(form.duration, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.instruction, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
        <div class="col-xs-10">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></div>
                {{ form_widget(form.instruction, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.url, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
        <div class="col-xs-10">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></div>
                {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.question, null, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
        <div class="col-xs-10">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-question-sign"></span></div>
                {{ form_widget(form.question, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    {% set numAnswers = form.answers.count %}

    {% for answer in form.answers %}

        <div class="form-group">
            <div class="col-xs-2 text-right">
                <label class="control-label">Answer {{ loop.index0+1 }}</label>
                {% if numAnswers>2 %}
                    <p><button class="button" onclick="var input = $('<input>', { type: 'hidden', name: 'remove_answer', value: {{ answer.vars['value'].getId() }} }); $('#question-form').append($(input)).submit()">x</button></p>
                {% endif %}
            </div>
            <div class="col-xs-10">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-ok-sign"></span></div>
                    {{ form_widget(answer.answer) }}
                </div>
            </div>

        </div>
    {% endfor %}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="button" onclick="var input = $('<input>', { type: 'hidden', name: 'add_answer', value: '0' }); $('#question-form').append(input).submit();">Add option</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{ form_widget(form.create, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
