{% extends "LaLearnodexBundle::card.html.twig" %}

{% block card_body_placeholder_class 'col-xs-12' %}
{% block card_toolbar_placeholder_class 'hidden' %}

{% block card_body %}
    <div class="row">
        <div class="col-xs-12 well">
            {{ include(card.getContentIncludeTwig(),{'content': card.getContent()} ) }}
        </div>
        {% if card.canHaveObjectives() %}
        <div class="col-xs-12 well">
            Objectives
            {% for objective in card.getObjectiveDownLinks() %}
            <ul class="nav nav-pills ln-entity-links">
                <li>
                    <a href="{{ path('card',{'id':objective.getChild().getId()}) }}">
                        {{ objective.getChild().getName() }}
                        <span class="badge">{{ objective.getWeight() }}</span>
                    </a>
                </li>
            </ul>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 text-right">
            <a class="btn btn-default btn-block" href="{{ path('button_trace', {'id': card.id, 'caption': 'LATER'}) }}">Ask me later</a>
        </div>
        <div class="col-xs-5 col-sm-4 col-md-3 text-left">
            <a class="btn btn-warning btn-block" href="{{ path('button_trace', {'id': card.id, 'caption': 'DISCARD'}) }}">Discard</a>
        </div>
    </div>
{% endblock %}
