<ul class="nav nav-pills" >
    <li ng-class="">
        {% if id>0 %}
        <a href="{{ path('card', {'type':type,'id':id}) }}">
        {% endif %}
            {% if action=='card' %}
                <img src="{{ asset('bundles/lalearnodex/images/description_high.png', absolute=true) }}" />
            {% else %}
                <img src="{{ asset('bundles/lalearnodex/images/description.png', absolute=true) }}" />
            {% endif %}
        {% if id>0 %}
        </a>
        {% endif %}
    </li>
    {% if id>0 %}
    <li ng-class="">
        <a href="{{ path('card_outcome', {'type':type,'id':id}) }}">
            {% if action=='outcome' %}
                <img src="{{ asset('bundles/lalearnodex/images/outcomes_high.png', absolute=true) }}" />
            {% else %}
                <img src="{{ asset('bundles/lalearnodex/images/outcomes.png', absolute=true) }}" />
            {% endif %}
        </a>
    </li>
    <li ng-class="">
        <a href="{{ path('card_link', {'type':type,'id':id}) }}">
            {% if action=='link' %}
                <img src="{{ asset('bundles/lalearnodex/images/relations_high.png', absolute=true) }}" />
            {% else %}
                <img src="{{ asset('bundles/lalearnodex/images/relations.png', absolute=true) }}" />
            {% endif %}
        </a>
    </li>
    {% endif %}
</ul>
