{% extends "LaLearnodexBundle::layout.html.twig" %}

{% block Main %}
    <div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Create your cards by choosing among the available types below.</p>
        <div class="row">
            {% set cardCollections = {'Agora' : agoras, 'Objective' : objectives, 'Action' : actions} %}
            {% set counter = 0 %}

            {% for cardType, cardCollection in cardCollections %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                    <a class="ln-gray-highlight" href="{{ path('new_card', {'type': cardType}) }}">
                        <img src="{{ asset('bundles/lalearnodex/images/' ~ cardType|lower ~ '.png', absolute=true) }}" />
                    </a>
                    <p class="lead"><strong>{{ cardType }}</strong></p>
                    <table class="table table-hover table-condensed">
                        <tbody>
                        {% for learningEntity in cardCollection %}
                            <tr><td><a href="{{ path('card_content', {'id':learningEntity.id}) }}">{{ learningEntity.name }}</a></td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% set counter = counter + 1 %}
                {% if counter%2 == 0 %}
                    <div class="clearfix visible-sm-block"></div>
                {% endif %}
            {% endfor %}

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                <a class="ln-gray-highlight" href="{{ path('persona_homepage') }}">
                    <img src="{{ asset('bundles/lalearnodex/images/persona.png', absolute=true) }}" />
                </a>
                <p class="lead"><strong>Persona</strong></p>
            </div>
        </div>
    </div>
{% endblock %}
