{% set outcomeId = cardOutcome.getOutcome().getId() %}
{% set affinity = cardOutcome.getOutcome().getAffinity() %}

    <form>
        <input id="result-{{ outcomeId }}-affinity" class="rating" type="number" data-step="1" value="{{ cardOutcome.getStarsForValue(affinity) }}" data-size="xs" data-show-caption="true">
    </form>

    <script type="text/javascript">
        function setRatingForResult{{ outcomeId }}(value) {
            switch(parseInt(value)) {
                    {% for i in 0..5 %}
                case {{ i }}:
                    var url = "{{ path('set_outcome_affinity', {'outcomeId': outcomeId, 'affinity': cardOutcome.getValueForStars(i)}) }}";
                    window.location.href = url.replace(/&amp;/g, "&");
                    break;
                    {% endfor %}
            }
        }

        $('#result-{{ outcomeId }}-affinity').on({
            'rating.change' : function(event, value) {
                setRatingForResult{{ outcomeId }}(value);
            },
            'rating.clear' : function(event) {
                setRatingForResult{{ outcomeId }}(0);
            }
        });
    </script>



