{% extends "LaLearnodexBundle::Admin/Admin.html.twig" %}

{% block card_content %}
    {% if downLinks is not empty %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Current Actions for {{ card.getName() }}</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills ln-entity-links">
                    {% for link in downLinks %}
                        {{ include('LaLearnodexBundle::Admin/Links/Include/LinkPill.html.twig', { 'entity': link.getChild(), 'link': link, 'linkAction': 'edit_link', 'linkActionParams': {'id':card.id,'linkId':link.getId()}, 'linkActionGlyph': 'pencil'}) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if upLinkManager.canHaveChildren() %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Add more actions</h3>
            </div>
            <div class="panel-body">
                {% for childEntity in upLinkManager.getCandidateChildren() %}
                    <form class="form-inline" method="post" action="{{ path('add_link',{'id':card.getId(),'parentId':card.getId(),'childId':childEntity.id}) }}">
                        <div class="form-group">
                            {% set elementId = 'child-weight-' ~ childEntity.id %}
                            <label for="{{ elementId }}">{{ childEntity.name }}</label>
                            <input type="number" class="form-control" name="weight" value="5" id="{{ elementId }}" />
                        </div>
                        <button type="submit" class="btn btn-default">Add this action</button>
                    </form>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if upLinks is not empty %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">This action is used for these agora's</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills ln-entity-links">
                    {% for link in upLinks %}
                        {{ include('LaLearnodexBundle::Admin/Links/Include/LinkPill.html.twig', { 'entity': link.getParent(), 'link': link, 'linkAction': 'remove_link', 'linkActionParams': {'id':card.id,'linkId':link.getId()}, 'linkActionGlyph': 'remove'}) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if upLinkManager.canHaveParents() %}
        {% set candidateParents = upLinkManager.getCandidateParents() %}
        {% if candidateParents|length > 0 %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Suggest this action for another agora</h3>
                </div>
                <div class="panel-body">
                    {% for parentEntity in candidateParents %}
                        <form class="form-inline" method="post" action="{{ path('add_link',{'id':card.getId(),'parentId':parentEntity.id,'childId':card.getId()}) }}">
                            <div class="form-group">
                                {% set elementId = 'child-weight-' ~ parentEntity.id %}
                                <label for="{{ elementId }}">{{ parentEntity.name }}</label>
                                <input type="hidden" class="form-control" name="weight" value="0" id="{{ elementId }}" />
                            </div>
                            <button type="submit" class="btn btn-default">Suggest</button>
                        </form>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
