{% extends "LaLearnodexBundle::main.html.twig" %}

{% block container %}
    <div class="row">
        <div class="col-xs-10">
            <div style="padding: 20px;">
                {% block Main %}{% endblock %}
            </div>
        </div>
        <div class="col-xs-2" style="background-color: #dfdfdf;">
            <div style="padding: 20px;">
                {% block sidebar %}
                    <div class="row text-center">
                        <a href="{{ path('homepage') }}">Home</a><br />
                        <img src="{{ asset('bundles/lalearnodex/images/head.png', absolute=true) }}" /><br />
                        <span>{{ app.user.username }}</span><br />
                        <span><a href="{{ path('logout') }}">Log out</a></span>
                    </div>
                    <div class="row text-center" style="margin-top:50px;">
                        {% for affinity in app.user.getAffinities() %}
                            {{ affinity.getAgora().getName() }} - {{ affinity.getValue() |number_format(0) }}%
                        {% endfor %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}