{% extends "LaLearnodexBundle::main.html.twig" %}

{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{ asset('bundles/lalearnodex/js/background-check.min.js', absolute=true) }}"></script>

    <link href="{{ asset('bundles/lalearnodex/css/main.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block container_class 'container-fluid' %}

{% block container %}
    <div id="viewport-area" class="row">
        <div id="sidebar" class="col-xs-12 col-md-3 col-md-push-9">
            {% block sidebar %}
                <div class="row">
                    <div id="sidebar-profile-section" class="col-xs-12 col-sm-4 col-md-12">
                        <div class="row">
                            <img id="sidebar-profile-picture" class="img-responsive img-circle center-block" src="{{ asset('https://addons.cdn.mozilla.net/static//img/zamboni/anon_user.png', absolute=true) }}" /><br />
                        </div>

                        <div class="row text-center">
                            <p class="lead"><strong>{{ app.user.username }}</strong></p>
                        </div>

                        <div class="row text-center">
                            <ul id="sidebar-toolbar" class="list-inline">
                                <li>
                                    <a href="{{ path('homepage') }}">
                                        <span class="glyphicon glyphicon-home lead"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <span class="glyphicon glyphicon-log-out lead"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div id="sidebar-dna-section" class="col-xs-12 col-sm-4 col-md-12">
                        <a href="{{ path('dna') }}">
                            <div id="user-{{ app.user.getId() }}-dna-chart"></div>
                        </a>
                    </div>

                    <div id="sidebar-matches-section" class="col-xs-12 col-sm-4 col-md-12">
                        <table class="table table-hover table-condensed">
                            <thead>
                            <tr><th class="ln-adaptive-text text-center">Personality matches</th></tr>
                            </thead>
                            <tbody>
                            {% for personaMatch in app.user.getPersonas() %}
                                <tr><td class="ln-adaptive-text">{{ personaMatch.getPersona().getUser().getUserName() }} <span class="badge pull-right">{{ personaMatch.getMatch() |number_format(0) }}</span></td>
                                    <td><a href="{{ path('persona_compare',{'id':personaMatch.getPersona().getId()}) }}">?</a></td></tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div id="sidebar-footer-section" class="col-md-12 hidden-sm hidden-xs text-center">
                        <h5><small>Version: {{ version() }}</small></h5>
                    </div>
                </div>
            {% endblock %}
        </div>

        <div id="content-area" class="col-xs-12 col-md-9 col-md-pull-3">
            <div style="position:absolute; top: 10px; left: 10px; border:1px solid #f00;">
                {% set goals = app.user.getGoals() %}
                {% if goals|length > 0 %}
                    you have {{ goals|length }} goal{% if goals|length > 1 %}s{% endif %}<br />
                {% endif %}
                {% for goal in goals %}
                    <a href="{{ path('goal_open',{'id': goal.getId()}) }}">{{ goal.getName() }}</a> (<a href="{{ path('goal_remove',{'id': goal.getId()})  }}">remove</a>)<br />
                {% endfor %}
            </div>
            <div style="position:absolute; top: 10px; left: 250px; border:1px solid #f00;">
                {% if app.session.has('goalId') %}
                    goal {{ app.session.get('goalName') }} is active <br />
                    <a href="{{ path('goal_close') }}">close</a>
                {% endif %}
            </div>
            {% block Main %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        BackgroundCheck.init({
            targets: '.ln-adaptive-text',
            images: '.full-background'
        });

        BackgroundCheck.refresh();
    });

    google.load("visualization", "1", {packages:["corechart"]});
</script>

{% if app.user %}
    {{ include('LaLearnodexBundle::Profile/Widgets/DnaWidget.html.twig', { 'user': app.user }) }}
{% endif %}

{% endblock %}
