<!DOCTYPE html>
<html {% block html_tag '' %}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
    <meta name="robots" content="noindex,nofollow" />
    <title>{% block title 'LaCore Bundle' %}</title>
    <link href="{{ asset('bundles/framework/css/structure.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/framework/css/body.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/lacore/css/bootstrap.min.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    {% block head %} {% endblock %}
</head>
<body {% block body_tags '' %}>
<script type="text/javascript" src="{{ asset('bundles/lacore/js/angular.min.js', absolute=true) }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lacore/js/app.js', absolute=true) }}"></script>
<div class="container theme-showcase" role="main">
    <div class="" style="float:left; width:80%;border:0px solid #f00;">
        <div style="padding: 20px;">
            {% block main %}{% endblock %}
        </div>
    </div>
    <div class="" style="float:right; width:20%; min-height: 300px;background-color: #dfdfdf;">
        <div style="padding: 20px;">
            {% block sidebar %}
                <div style="width: 100%; text-align: center">
                    <img src="{{ asset('bundles/lacore/images/head.png', absolute=true) }}" /><br />
                    <span>{{ userName }}</span><br />
                    <span><a href="{{ path('logout') }}">Log out</a></span>
                </div>
            {% endblock %}
        </div>
    </div>
    <div class="" style="clear:both;"></div>
</div>
</body>
</html>
